body {
    background-color: #C2B280;
}

.topnav {
    background-color: rgba(255, 255, 255, 0.2);
    overflow: hidden;
    text-align:center;
  }
  
  .topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display:inline-block;
  }
  
  .topnav a:hover {
    color: #006D5B;
  }
  
  .topnav a.active {
    color: #FF0000;
  }

#lose {
    display: inline-block;
}

#box{
    background:#006D5B;
    border-style: solid;
    border-width: 5px;
    border-color:#fff;
    height:100px;
    width:100px;
    position: absolute;
    top: 400;
    left: 25;
    font-size: 30px;
    color: #fff;
    text-align: center;
    line-height: 100px;
}

#greenlight
{
    background-color: #90EE90;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(0, 0, 0);
    height:100px;
    width:100px;
    position: absolute;
    top: 100;
    left: 1525;
    font-size: 30px;
    color: #fff;
    text-align: center;
    line-height: 100px;
}

#redlight {
    background-color: #FF0000;
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    border-color:rgb(0, 0, 0);
    height:100px;
    width:100px;
    position: absolute;
    top: 100;
    left: 1525;
    font-size: 30px;
    color: #fff;
    text-align: center;
    line-height: 100px;
}

#circle
{
    background-color: #FFF44F;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(0, 0, 0);
    height:150px;
    width: 150px;
    position: absolute;
    top: 75;
    left: 1500;
    font-size: 30px;
    color: #fff;
    text-align: center;
    line-height: 100px;
}

#doll {
    background:yellow;
    border-style: solid;
    border-width: 15px;
    border-color: salmon;
    height:100px;
    width:100px;
    position: absolute;
    top: 650;
    left: 1500;
    font-size: 30px;
    color: #fff;
    text-align: center;
    line-height: 100px;
}

#p1 {
    margin-left: 150px;
    width: 10px;
    background: #fff;
    height: 700px;
    display: inline-block;
}

#p2 {
    margin-left: 1300px;
    width: 10px;
    background: #fff;
    height: 700px;
    display: inline-block;
}